@using Notebook.Models;
@model List<Contact>;

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
           <div class="col">
               <div class="card shadow-sm">
                   <div class="card-header">
                       <a class="card-text">@item.Id</a>
                   </div>
                   <div class="card-body">
                        <p class="card-text">@item.Surname</p>
                        <p class="card-text text-secondary">@item.Name</p>
                        <p class="card-text text-secondary">"@item.Patronymic"</p>
                   </div>
               </div>
           </div>
        }
    </div>
</div>
